__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.venv/

toy_example/results/*
!toy_example/results/.gitkeep

mnist_example/results/*
!mnist_example/results/.gitkeep
mnist_example/data/*
!mnist_example/data/known_label_errors_mnist_test.json
mnist_example/checkpoints/*
!mnist_example/checkpoints/.gitkeep

signature_distance/results/*
!signature_distance/results/.gitkeep

data/
