__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.venv/

toy_lipschitz/results/*
!toy_lipschitz/results/.gitkeep

mnist_lipschitz/results/*
!mnist_lipschitz/results/.gitkeep
mnist_lipschitz/data/*
!mnist_lipschitz/data/known_label_errors_mnist_test.json

mnist_lipschitz/adversarial/results/*
!mnist_lipschitz/adversarial/results/.gitkeep
